@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Components.Web
@using Volo.Abp.Ui.Branding

@inject IOptions<PageHeaderOptions> Options
@inject IBrandingProvider BrandingProvider

<div class="row">

    @if (PageLayout.Title.IsNullOrEmpty())
    {
        <PageTitle>@BrandingProvider.AppName</PageTitle>
    }
    else
    {
        <PageTitle>@PageLayout.Title | @BrandingProvider.AppName</PageTitle>
    }

    @if(Options.Value.RenderPageTitle)
    {
        
        <div class="col-auto">
            <h1 class="content-header-title">@PageLayout.Title</h1>
        </div>
    }

    @if (Options.Value.RenderBreadcrumbs &&  PageLayout.BreadcrumbItems.Any())
    {
        <div class="col-lg-auto ps-lg-0">
            <Breadcrumb Value="@BreadcrumbItems" />
        </div>
    }

    @if(Options.Value.RenderToolbar)
    {
        <div class="col">
            <div class="row justify-content-end mx-n1">
                @if (Toolbar == null)
                {
                    @ChildContent
                }
            
                @foreach (var toolbarItemRender in ToolbarItemRenders)
                {
                    <div class="col-auto px-1 py-2">
                        @toolbarItemRender
                    </div>
                }
            </div>
        </div>
    }
</div>